<!Doctype html>
<html>
<head>
    <title>Question 5</title>
</head>
<body>
<h1>Question 5 combined application</h1>
<h2>Date and time for user</h2>
<p>The current date is {{date}}</p>
<p>The current time is {{time}}</p>
<h3>Quote of the day</h3>
<p>Your quote of the day is: {{quote}}</p>
<h3>App object information and request more information</h3>
<img src="/static/point_down.jpg" alt="Click below for more information" width="250" height="200"><br>
<a href="/more_info">App object info and request further info</a>
</body>
</html>